.custom-icon-link-container {
  display: inline-block;
  border: 0.6px solid rgba(29, 29, 31, 0.1);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  font-size: 2.4rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.custom-icon-link-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  transition: height 0.5s;
  background-color: var(--bgColor);
}

.custom-icon-link-container:hover:before {
  height: 100%;
}

.custom-icon-link-container .fa {
  position: absolute;
  transition: transform 0.5s, color 0.5s;
  font-size: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.custom-icon-link-container:hover .fa {
  transform: translate(-50%, -50%) rotateY(360deg);
  color: #fff;
}

@media (max-width: 768px) {
  .custom-icon-link-container {
    width: 45px;
    height: 45px;
  }

  .custom-icon-link-container .fa {
    font-size: 25px;
  }
}
